# Project: Black Friday Excel Data_Maven Ski Shop

### *Manipulate data from an Excel worksheet using the Python by importing openpyxl package*

#### **OBJECTIVE**: *For given excel workbook, Calculating the missing data i.e. taxes and totals using python*

In [1]:
import openpyxl as xl
from pprint import pprint # pprint prints dictionaries neatly

## Part 1

First, Reading the workbook

Then, assign the orders worksheet to variable name.

In [2]:
wb = xl.load_workbook(filename ='maven_ski_shop_data.xlsx')
wb.sheetnames #Used to see all the worksheet

items =wb['Item_Info']
inventory = wb['Inventory_Levels']
orders = wb['Orders_Info']

# orders.max_column (Used to check no of columns)

### Column Printer Function

Creating a helper function to print all the rows a specified column.

This will help us view imported data without looking at Excel, and review the data we've written into columns without needing to save a file to review the changes.

Function has take two arguments:

* Worksheet where data is located
* Column Letter of data to print

This function will:

* Print Cell Coordinate (e.g. A1, D4).
* Print the contents of the cell.

Then calling the function twice to check the function:

* Once to print Order ID (column A in 'Orders_Info')
* Once to print subtotal (column D in 'Orders_Info')

In [3]:
def column_printer(ws,col):
    for row in range(1,ws.max_column+1):
         print(col+str(row) , ws[col+str(row)].value)

In [4]:
column_printer(orders, 'A')

A1 Order_ID
A2 100000
A3 100001
A4 100002
A5 100003
A6 100004
A7 100005
A8 100006
A9 100007
A10 100008
A11 100009

In [5]:
column_printer(orders, 'D')

D1 Subtotal
D2 15.98
D3 899.97
D4 799.97
D5 117.96
D6 5.99
D7 599.99
D8 24.99
D9 1799.94
D10 99.99
D11 254.95

### Order Data Dictionary

Creating a dictionary with all of the information contained in the 'Orders_Info' Worksheet.

* The dictionary keys should be Order IDs (Column A)
* The values should a list storing the data in the rest of the columns.
* The columns in the list stored as values should be B, C, D, G, and H (after converting to list). 
* For example: The first order, column H should be the nested list: [10001, 10002]

In [6]:
order_dict = {
    orders['A'+str(order)].value : [
        orders['B'+str(order)].value,
        orders['C'+str(order)].value,
        orders['D'+str(order)].value,
        orders['G'+str(order)].value,
        str(orders['H'+str(order)].value).split(',')
        ] for order in range(2,orders.max_row+1)
}
pprint(order_dict)

{100000: ['C00004', '11/26/2021', 15.98, 'Sun Valley', ['10001', ' 10002']],
 100001: ['C00007',
          '11/26/2021',
          899.97,
          'Stowe',
          ['10008', ' 10009', ' 10010']],
 100002: ['C00015',
          '11/26/2021',
          799.97,
          'Mammoth',
          ['10011', ' 10012', ' 10013']],
 100003: ['C00016',
          '11/26/2021',
          117.96,
          'Stowe',
          ['10002', ' 10003', ' 10004', ' 10006']],
 100004: ['C00020', '11/26/2021', 5.99, 'Sun Valley', ['10001']],
 100005: ['C00010', '11/26/2021', 599.99, 'Mammoth', ['10010']],
 100006: ['C00006', '11/26/2021', 24.99, 'Mammoth', ['10004']],
 100007: ['C00001',
          '11/26/2021',
          1799.94,
          'Mammoth',
          ['10008',
           ' 10008',
           ' 10009',
           ' 10009',
           ' 10009',
           ' 10010',
           ' 10010']],
 100008: ['C00003', '11/26/2021', 99.99, 'Sun Valley', ['10005']],
 100009: ['C00014',
          '11/26/2021',
          254.95,
          'Sun Valley',
          ['10002', ' 10003', ' 10004', ' 10006', ' 10007']],
 100010: ['C00001', '11/26/2021', 29.98, 'Mammoth', ['10002', ' 10003']],
 100011: ['C00001', '11/26/2021', 99.99, 'Mammoth', ['10005']],
 100012: ['C00005', '11/26/2021', 25.98, 'Sun Valley', ['10001', ' 10003']],
 100013: ['C00008', '11/26/2021', 649.98, 'Stowe', ['10012', ' 10013']],
 100014: ['C00013', '11/26/2021', 89.99, 'Sun Valley', ['10014']],
 100020: ['C00004', '11/27/2021', 119.99, 'Sun Valley', ['10007']],
 100021: ['C00017', '11/27/2021', 599.99, 'Stowe', ['10010']],
 100022: ['C00019', '11/27/2021', 649.98, 'Sun Valley', ['10012', ' 10013']],
 100023: ['C00002', '11/27/2021', 24.99, 'Stowe', ['10004']],
 100024: ['C00008', '11/27/2021', 99.99, 'Stowe', ['10005']],
 100025: ['C00021', '11/27/2021', 99.99, 'Mammoth', ['10008']],
 100026: ['C00022', '11/27/2021', 5.99, 'Sun Valley', ['10001']],
 100027: ['C00006', '11/28/2021', 24.99, 'Mammoth', ['10002']],
 100031: ['C00018',
          '11/28/2021',
          999.96,
          'Stowe',
          ['10005', ' 10008', ' 10009', ' 10010']],
 100032: ['C00018', '11/28/2021', 99.99, 'Stowe', ['10006']],
 100033: ['C00010',
          '11/28/2021',
          399.97,
          'Mammoth',
          ['10005', ' 10008', ' 10009']],
 100034: ['C00016', '11/28/2021', 89.99, 'Stowe', ['10014']]}

### Sales Tax Calculation

Calculating the sales tax and total amount owed for every order in this sheet.

Given,
* If location is Sun Valley, apply a sales tax of 8%
* If location is Mammoth, apply a sales tax of 7.75%.
* If location is Stowe, apply a sales tax of 6%

Using the tax_calculator function to apply sales tax to each subtotal.

**Inserting** the calculated sales tax and total amounts into your customer dictionary immediately after subtotal.

In [7]:
from tax_calculator import tax_calculator  #returns [subtotal, tax, total]

for i in order_dict.values():
    if i[3]=='Sun Valley':
        transaction = tax_calculator(i[2],.08)
    elif i[3]=='Mammoth':
        transaction = tax_calculator(i[2],.0775)
    else:
        transaction = tax_calculator(i[2],.06)
        
    i.insert(3,transaction[1])
    i.insert(4,transaction[2])

In [8]:
pprint(order_dict)

{100000: ['C00004',
          '11/26/2021',
          15.98,
          1.28,
          17.26,
          'Sun Valley',
          ['10001', ' 10002']],
 100001: ['C00007',
          '11/26/2021',
          899.97,
          54.0,
          953.97,
          'Stowe',
          ['10008', ' 10009', ' 10010']],
 100002: ['C00015',
          '11/26/2021',
          799.97,
          62.0,
          861.97,
          'Mammoth',
          ['10011', ' 10012', ' 10013']],
 100003: ['C00016',
          '11/26/2021',
          117.96,
          7.08,
          125.04,
          'Stowe',
          ['10002', ' 10003', ' 10004', ' 10006']],
 100004: ['C00020', '11/26/2021', 5.99, 0.48, 6.47, 'Sun Valley', ['10001']],
 100005: ['C00010', '11/26/2021', 599.99, 46.5, 646.49, 'Mammoth', ['10010']],
 100006: ['C00006', '11/26/2021', 24.99, 1.94, 26.93, 'Mammoth', ['10004']],
 100007: ['C00001',
          '11/26/2021',
          1799.94,
          139.5,
          1939.44,
          'Mammoth',
          ['10008',
           ' 10008',
           ' 10009',
           ' 10009',
           ' 10009',
           ' 10010',
           ' 10010']],
 100008: ['C00003', '11/26/2021', 99.99, 8.0, 107.99, 'Sun Valley', ['10005']],
 100009: ['C00014',
          '11/26/2021',
          254.95,
          20.4,
          275.35,
          'Sun Valley',
          ['10002', ' 10003', ' 10004', ' 10006', ' 10007']],
 100010: ['C00001',
          '11/26/2021',
          29.98,
          2.32,
          32.3,
          'Mammoth',
          ['10002', ' 10003']],
 100011: ['C00001', '11/26/2021', 99.99, 7.75, 107.74, 'Mammoth', ['10005']],
 100012: ['C00005',
          '11/26/2021',
          25.98,
          2.08,
          28.06,
          'Sun Valley',
          ['10001', ' 10003']],
 100013: ['C00008',
          '11/26/2021',
          649.98,
          39.0,
          688.98,
          'Stowe',
          ['10012', ' 10013']],
 100014: ['C00013', '11/26/2021', 89.99, 7.2, 97.19, 'Sun Valley', ['10014']],
 100020: ['C00004', '11/27/2021', 119.99, 9.6, 129.59, 'Sun Valley', ['10007']],
 100021: ['C00017', '11/27/2021', 599.99, 36.0, 635.99, 'Stowe', ['10010']],
 100022: ['C00019',
          '11/27/2021',
          649.98,
          52.0,
          701.98,
          'Sun Valley',
          ['10012', ' 10013']],
 100023: ['C00002', '11/27/2021', 24.99, 1.5, 26.49, 'Stowe', ['10004']],
 100024: ['C00008', '11/27/2021', 99.99, 6.0, 105.99, 'Stowe', ['10005']],
 100025: ['C00021', '11/27/2021', 99.99, 7.75, 107.74, 'Mammoth', ['10008']],
 100026: ['C00022', '11/27/2021', 5.99, 0.48, 6.47, 'Sun Valley', ['10001']],
 100027: ['C00006', '11/28/2021', 24.99, 1.94, 26.93, 'Mammoth', ['10002']],
 100031: ['C00018',
          '11/28/2021',
          999.96,
          60.0,
          1059.96,
          'Stowe',
          ['10005', ' 10008', ' 10009', ' 10010']],
 100032: ['C00018', '11/28/2021', 99.99, 6.0, 105.99, 'Stowe', ['10006']],
 100033: ['C00010',
          '11/28/2021',
          399.97,
          31.0,
          430.97,
          'Mammoth',
          ['10005', ' 10008', ' 10009']],
 100034: ['C00016', '11/28/2021', 89.99, 5.4, 95.39, 'Stowe', ['10014']]}

### Writing Sales Tax and Total Into the Excel Sheet

Writing the sales tax and total into the workbook, then saving the workbook as

 'maven_ski_shop_data_final'.

In [9]:
for index, order in enumerate(order_dict.values(), start=2):
    orders['E'+str(index)] = order[3]
    orders['F'+str(index)] = order[4]

In [10]:
wb.save('maven_ski_shop_data_final.xlsx')

## Part 2

### Analysis Data


Writing a function that calculates the sum of a 'column' of data in our dictionary.

A 'column' for example, would be subtotals, which is at index 2 in the list stored as our dictionary values.

The function takes the following arguments:

* Column Index (the index of the data of interest in the list stored in our dictionary values)
* Dictionary Name

The expected output:

* The sum of values in the column (rounded to two decimal places)

In [11]:
def column_sum(column_index, dictionary):
    total = 0
    for i in dictionary.values():
        total = total + i[column_index]
    return round(total,2)

#### Sum The Subtotal, Tax, and Total Columns 

Using column sum function, to calculate the sum of:

* Subtotals
* Taxes
* Totals

In [12]:
print(column_sum(2, order_dict))
print(column_sum(3, order_dict))
print(column_sum(4, order_dict))

8731.47
617.2
9348.67

### Average of subtotals

Calculating the average value of the transactions done.

In [13]:
total = column_sum(2, order_dict)
no_of_transaction = len(order_dict)

avg = (total)/(no_of_transaction)

print(round(avg,2))

323.39

###  Unique customers

Calculating the total number of unique customers in the sales data.

And also calculating the number of orders per customer (total orders / unique customers)

In [14]:
a = [i[0] for i in order_dict.values()]
b= len(set(a))
orders_per_customer =round((len(order_dict) / b),2)

print(f' unique customer is {b} and orders_per_customer is {orders_per_customer}')

 unique customer is 19 and orders_per_customer is 1.42

### Calculating total number of items sold

Calculating the total number of items we sold in across all orders. 

This information is in Column H, which is the last element in order_dict's values.

In [15]:
a = 0
for i in order_dict.values():
    a += len(i[-1])
print(a)

54

### Sales By Location

Calculating the sum of subtotals by location.

Creating a dictionary to store them, where location is the key, and revenue for that location is the value.


Expected output should look like 
{'Location1': sum of subtotals for 'Location1'}

In [16]:
# Grouping sum of subtotal by location

location_sums = {}

for i in order_dict.values():
    l = i[5]
    if l not in location_sums:
        location_sums[l]=0
    
    location_sums[l] +=i[2]
    
pprint(location_sums)

{'Mammoth': 3879.8099999999995,
 'Stowe': 3582.8199999999993,
 'Sun Valley': 1268.84}

###  Aggregator Function

Writing a function to generalize calculating a sum of a column, grouped by the unique values in another column (for example, sum of totals by date or customer_id).

The function takes the following arguments:
* index of the 'column' (index position in order_dict) to group by
* index of the 'column' (index position in order_dict) to sum by category
* the dictionary where the data is located (assume the same structure as order_dict.

It should return:
* A dictionary with the categories as keys, and the sum by category as value.

In [17]:
def aggregator(l,m,dictionary):
    result_dict = {}
    for i in dictionary.values():
        a = i[l]
        if a not in result_dict:
            result_dict[a] = 0
        result_dict[a] += i[m]
    return result_dict

In [18]:
# index 1 = date, index 4 = total
aggregator(1, 4, order_dict)

{'11/26/2021': 5915.179999999999,
 '11/27/2021': 1714.25,
 '11/28/2021': 1719.2400000000002}

In [19]:
# index 0 = customer_id
aggregator(0, 4, order_dict)

{'C00004': 146.85,
 'C00007': 953.97,
 'C00015': 861.97,
 'C00016': 220.43,
 'C00020': 6.47,
 'C00010': 1077.46,
 'C00006': 53.86,
 'C00001': 2079.48,
 'C00003': 107.99,
 'C00014': 275.35,
 'C00005': 28.06,
 'C00008': 794.97,
 'C00013': 97.19,
 'C00017': 635.99,
 'C00019': 701.98,
 'C00002': 26.49,
 'C00021': 107.74,
 'C00022': 6.47,
 'C00018': 1165.95}